logout 페이지 입니다.<br>

<a href="login">login</a>
<a href="/">index</a>
<hr>
<%= console.log(context); %>
key1 : <%= context.key1 %><br>
key2 : <%= context['key2'] %><br>
key3 : <%= context['key3'] %><br>
key3[0] : <%= context['key3'][0] %><br>
key4 : <%= context['key4'] %><br>
key4-k1 : <%= context['key4']["k1"] %><br>
key4-k2 : <%= context['key4'].k2 %><br>
<script>console.log("web");</script>